<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>Login</h2>
        </div>
        
        <form>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
                
            <button type="submit">Login</button>
            
        </form>
    </div>
</div>